html,
body {
  margin: 0;

  font-family: 'SUIT Variable', sans-serif;

  user-zoom: fixed;

  overflow: hidden;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

app-bar {
  position: fixed;
  background: #eaeaea5F;

  width: 290px;
  height: 70px;

  border: 1px solid #8c8c8c50;
  border-radius: 18px;

  right: 0;

  margin: 20px 20px 0 0;

  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);

  filter: drop-shadow(8px 0 16px #0000001C);

  z-index: 5;

  transition: 0.2s ease-out;
}

app-content {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  transition: 0.3s ease-in-out;
}

.control-center {
  width: 420px;
  height: 436px;
  background: #eaeaeaDF;
  border: 1px solid #8c8c8c7A;

  border-radius: 28px;
}

.content-focus {
  transform: scale(90%) translateX(5%) translateY(-5%);
}

app-content::-webkit-scrollbar {
  display: none;
}

app-content iframe {
  width: 100%;
  height: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

control-center-background {
  position: absolute;
  width: 100%;
  height: 100%;

  background: transparent;

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  transition: 0.3s ease-out;
  pointer-events: none;
}

.shown-background {
  background: #000000A0;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  pointer-events: all;
}

iframe::-webkit-scrollbar {
  display: none;
}

time-content {
  position: absolute;

  top: 28%;
  transform: translateX(-50%);

  right: 0;
  margin-right: -28px;

  font-size: 25px;
  font-weight: 700;

  text-align: right;

  filter: drop-shadow(0 0 24px #FFFFFF80);

  transition: 0.125s ease-out;
  opacity: 1.0;
}

.control-center time-content {
  top: 90%;
  margin-right: -18px;
  font-size: 20px;
  font-weight: 600;

  opacity: 0.8;
}

.control-center content-button {
  top: 88%;
  left: 3%;
}

.control-center home-button, .control-center more-button {
  margin-left: 6px;
}

.control-center back-button, .control-center home-button, .control-center more-button {
  width: 92px;
  opacity: 0.8;
}

content-button {
  position: absolute;
  display: flex;
  z-index: 6;

  top: 22%;
  left: 3%;
  transition: 0.2s ease-out;
}

back-button, home-button, more-button {
  width: 42px;
  height: 42px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
  
  border-radius: 16px;
}

back-button {
  background-image: url("../src/back.png");
  transition: 0.19s ease-out
}

home-button, more-button {
  margin-left: 2px;
  transition: 0.19s ease-out;
}

home-button {
  background-image: url("../src/home.png");
}

more-button {
  background-image: url("../src/more.png");
}

back-button:hover, home-button:hover, more-button:hover {
  background-color: #0000003D;
}

aod-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;

  overflow: hidden;
}

aod-datetime {
  font-family: 'GmarketSans';
  color: transparent;
  background-image: url(../src/aod_blur.png);
  background-clip: text;
  -webkit-background-clip: text;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 150px;
  font-weight: 800;
  white-space: nowrap;

  opacity: 0.0;

  transition: 0.4s ease-in-out;
  pointer-events: none;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  filter: blur(0px) contrast(90%);

  letter-spacing: -2px;
}

aod-screen:hover aod-datetime {
  opacity: 0.85;
}

.click-focus aod-datetime {
  opacity: 0.0;
  filter: blur(36px);
  transform: translate(-50%, -50%) scale(75%);

  letter-spacing: -8px;
}

aod-open-event {
  width: 64px;
  height: 64px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background: #FFF;
  background-image: url("../src/app_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.0;

  transition: 1.7s;
  filter: blur(8px);
}

.click-focus aod-open-event {
  opacity: 1.0;
  transform: translate(-50%, -50%) scale(3000%);
  filter: blur(12px);
}

app-main {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #eaeaea;
  background-image: url(../src/app_background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  overflow: hidden;
  opacity: 1.0;
  transform: scale(250%);
  transition: 0.5s ease-out;

  filter: blur(56px);
}

.aodfade {
  opacity: 0.5;
}


.fade {
  opacity: 1.0;
}


.fadex {
  transform: scale(100%);
  filter: blur(0px);
  opacity: 1.0;
}

.fadey {
  transform: translateY(0%);
  opacity: 1.0;
}

dock-ui {
  position: absolute;
  width: 100%;
  height: 70px;
  background: #FFFFFF70;
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  border: 1px solid #0000004A;

  opacity: 0.0;

  transition: 0.2s ease-in-out;
  transform: translateY(40%);

  z-index: 10;

  bottom: 0;
}

dock-time {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 30%;
  right: 0;
  margin-right: 30px;
  opacity: 1.0;
}

goto-aod {
  position: absolute;
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../src/AOD.png");

  top: 30%;
  left: 18px;

  opacity: 0.9;

  transition: 0.5s ease-in;
  border-radius: 50%;

  z-index: 10;

  filter: blur(0px);
}

.to-aod {
  opacity: 1.0;
  background-image: none;
  background: #5756ce;
  transform: scale(9000%);
  transition: 0.65s ease-in-out;
  filter: blur(24px);
}

.black-aod {
  background: #000000;
}

app-hidder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000000;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  pointer-events: none;

  z-index: 2;

  transition: 0.4s;
}

.shown-app-hidder {
  background: #000000A0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}